.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
}

.lunes-title {
    justify-self: start;
}

.lunes-title .title-text {
    font-family: Offside, cursive;
    font-size: 35px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
}

.green-word {
    color: #4cd566;
}

.language-choose {
    justify-self: end;
}

.header .selected {
    border-bottom: solid 1px #fff;
    text-decoration: none;
}

.language-choose .language-text {
    font-family: Offside, cursive;
    font-size: 15px !important;
    color: #ffffff;
    text-align: right;
}


@media (max-width: 1570px) {
    .lunes-title .title-text {
        font-size: 32px;
    }
}

@media (max-width: 1340px) {
    .lunes-title .title-text {
        font-size: 31px;
    }
}

@media (max-width: 1140px) {
    .lunes-title .title-text {
        font-size: 31px;
    }
}

@media (max-width: 750px) {
    .lunes-title .title-text {
        font-size: 25px;
    }

    .language-choose .language-text {
        font-size: 13px !important;
    }
}
